* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: 100%; */
}
.game-container {
  /* width: 100%;
  height: 100%; */
  text-align: center;
}
.player-selection-label {
  padding: 0px 30px;
}
.player-button {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  border: 1px solid #229186;
  border-radius: 5px;
  margin-right: 10px;
}
.player-button-label {
  pointer-events: none;
}
.player-button.selected {
  border-bottom: 5px solid #229186;
}
.player-selector {
  text-align: center;
  padding: 20px;
}
.board {
  position: relative;
  height: 500px;
  width: 500px;
  font-size: 0;
  display: inline-block;
  overflow: hidden;
}
.cell {
  position: relative;
  display: inline-block;
  width: 33.33%;
  height: 33.33%;
  background-color: #14bdac;
  border: solid 5px #229186;
  overflow: hidden;
}

.mark {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
}

.game-result {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background-color: #14bdac;
  transition: 0.5s transform;
}

.game-result.open {
  transform: translateY(0);
}

.winning-text {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, 120%);
}

.restart-button {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  vertical-align: middle;
  padding: 20px 60px;
  background-color: #229186;
  border-radius: 20px;
}